textarea.form-control{
	resize: none;
}
#pdf [name="filenames[]"], #vnd [name="filenames[]"]{
	display: contents;
}
#pdf [name="filenames[]"]:checked~.thumbnail, #vnd [name="filenames[]"]:checked~.thumbnail{
	outline: 4px solid #009ea7;
	filter: none;
}

#pdf .thumbnail{
	display: inline-block;
	width: 80px;
	height: 80px;
	object-fit: contain;
	margin: 3px;
	border: 1px solid #c7d0d7;
	background-color: gray;
	filter: brightness(0.8);
}
#pdf [name="pdf"]{
	display: contents;
}
#pdf [name="pdf"]:checked~.thumbnail{
	outline: 4px solid #009ea7;
	filter: none;
}
#vnd .thumbnail{
	display: block;
	width: 80px;
	height: 80px;
	margin: 3px;
	border: 1px solid #c7d0d7;
	line-height: 80px;
	text-align: center;
	font-size: 60px;
	font-family: bootstrap-icons;
	font-weight: normal;
}
#vnd .thumbnail::before{
	content: "\f38b";
}
#vnd .thumbnail[data-type^="application/vnd.openxmlformats-officedocument.wordprocessingml.document"]::before{
	content: "\f745";
	color: #3d85c6;
}
#vnd .thumbnail[data-type^="application/vnd.oasis.opendocument.text"]::before{
	content: "\f38d";
	color: #3d85c6;
}
#vnd .thumbnail[data-type^="application/vnd.ms-excel"]::before{
	content: "\f76a";
	color: #6aa84f;
}
#vnd .thumbnail[data-type^="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]::before{
	content: "\f793";
	color: #6aa84f;
}
#vnd .thumbnail[data-type^="application/vnd.oasis.opendocument.spreadsheet"]::before{
	content: "\f38f";
	color: #6aa84f;
}
#vnd .thumbnail[data-type^="application/vnd.ms-powerpoint"]::before{
	content: "\f75a";
	color: #f0737f;
}
#vnd .thumbnail[data-type^="application/vnd.openxmlformats-officedocument.presentationml.presentation"]::before{
	content: "\f792";
	color: #f0737f;
}
#vnd .thumbnail[data-type^="application/vnd.oasis.opendocument.presentation"]::before{
	content: "\f381";
	color: #f0737f;
}
#vnd .thumbnail[data-type^="application/vnd.apple."]::before{
	content: "\f65b";
}
#video video{
	width: 100%;
	max-height: 80vh;
}
.card-select{
	height: 53px;
	width: 120px;
	justify-content: center;
	background: #f0f3f5;
	border: 2px dotted #c7d0d7;
	color: #14a5ad;
	margin-right: 30px;
}

.file-grid{
	display: grid;
	grid-template: 60px 20px 1fr / 60px 20px;
	grid-column: 1 / -1;
	grid-row: -2 / -1;
}
.file-grid[title]::after{
	content: attr(title);
	grid-column: 1 / -1;
	padding-top: 3px;
}
.file-grid label{
	display: contents;
}
.file-grid .thumbnail{
	grid-column: 1 / -1;
	grid-row: 1 / 3;
}
.file-grid i{
	color: red;
	text-shadow: -1px -1px white,-1px 1px white,1px -1px white,1px 1px white;
	text-align: center;
	line-height: 20px;
	z-index: 1;
	grid-column: -2 / -1;
	grid-row: 2 / 3;
}
.file-grid i:hover{
	color: pink;
}
.fileicon{
	display: flex;
	flex-direction: column;
}
.fileicon[title]::after{
	content: attr(title);
}

[data-bs-toggle="modal"][data-bs-target="#deleteModal2"]{
	display: inline-flex;
}
[data-bs-toggle="modal"][data-bs-target="#deleteModal2"]:empty{
	display: none;
}
[data-bs-toggle="modal"][data-bs-target="#deleteModal2"]::before{
	content: "\f78a";
	display: block;
	font-family: bootstrap-icons !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	vertical-align: -0.125em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}